body {
    font-family: "Helvetica", "Arial", sans-serif; 
    background: purple;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    font-family: "Helvetica", "Arial", sans-serif;
}