<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <input id="attributes" type="text">
    <button onclick="get_map">
        get map
    </button>

    <svg id="main_map" width="1024" height="1024" xmlns="http://www.w3.org/2000/svg"></svg>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function get_map()
        {
            var attrs = document.getElementById("attributes");
            var map = document.getElementById("main_map");

            $.ajax({

            url: '/get_map',
            data: {'attrs' : attrs.value}, 
            method: 'GET',

            success: function(data) {
                map.innerHTML = data;
            }

            });
        }
    </script>
</body>
</html>