<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <script src="https://unpkg.com/svg-pan-zoom-container"></script>
</head>
<body>
    <div style="display: grid; grid-template-columns: 3fr 1fr;">
        <div data-zoom-on-wheel data-pan-on-drag>
            <svg id="main_map" width="100%" height="2048" xmlns="http://www.w3.org/2000/svg" style="background-color: rgb(206, 236, 234);"></svg>
        </div>
        <div>
            <input id="attributes" type="text">
            <button onclick="get_map()">
                get map
            </button>

            <br>
            <br>
            <br>

            <button onclick="Kaboom()">Kaboom!!!</button>

            <br>
            <br>
            <br>

            <hr>
            {#<option value = "111"></option><datalist id="lst">
                <option value="One">
                <option value="Two">
            </datalist>
            #}



            <input type="checkbox" id="countries"> <a onclick="change_visible('countries')">Страны!11!!!</a>
            <div id="countries_div" style="display: none; margin-left: 5%;">
                <input type="checkbox" id="countries_north_america"> <a onclick="change_visible('countries_north_america')">Омерика</a>
                <div id="countries_north_america_div" style="display: none; margin-left: 5%;">
                    <input type="checkbox" id="USA"> <a>Асашай</a> <br>
                    <input type="checkbox" id="Canada"> <a>Конада</a>
                </div>

                <input type="checkbox" id="countries_north_america"> <a onclick="change_visible('countries_north_america')">Гейропа</a>
                <div id="countries_north_america_div" style="display: none; margin-left: 5%;">
                    <input type="checkbox" id="Russia"> <a>Расия</a> <br>
                    <input type="checkbox" id="England"> <a>Онглия</a>
                    <input type="checkbox" id="France"> <a>Франция</a>
                    <input type="checkbox" id="Spain"> <a>Испания</a>

                </div>
            </div>
            


        </div>
    </div>

    <p> Made with Natural Earth. Free vector and raster map data <a href="https://www.naturalearthdata.com">naturalearthdata.com</a></p>
    <a href="https://www.naturalearthdata.com">
        <img src="/static/logo/naturalearthdata.png">
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function change_visible(id)
        {
            var div = document.getElementById(id + "_div");
            if (div.style.display == "block")
            {
                div.style.display = "none";
            }
            else
            {
                div.style.display = "block";
            }
        }



        function get_map()
        {
            var attrs = document.getElementById("attributes");
            var map = document.getElementById("main_map");

            $.ajax({

            url: '/get_map',
            data: {'attrs' : attrs.value}, 
            method: 'POST',

            success: function(data) {
                console.log("кукареку");
                console.log(data)
                map.innerHTML += data;
            }

            });
        }
    
        function Kaboom() {
            var pols = document.getElementsByTagName("polygon");

            for (var i = 0; i < pols.length; i++)
            {
                var pol = pols[i];

                pol.setAttribute("style", "clip-path: polygon(" + pol.getAttribute("points") + ")");

                console.log(pol.getAttribute("points"));
            }

            console.log("Finish...");
        }
    </script>
</body>
</html>